---
title: Advanced Workflow Test Page 5
---

# Advanced Workflow Test Page 5

This is advanced test page 5, part of a set of 7 designed for comprehensive workflow testing on branch 'feature/advanced-crosslink-tests'.

## ERB Processing Test
<p>Page 5 - Current Time (ERB): <%= Time.now.strftime('%Y-%m-%d %H:%M:%S %Z') %></p>
<p>ERB Dynamic String (Page 5): <%= "Dynamic content for page 5." %></p>

## Markdown Rendering Tests (Page 5)

### Text Formatting
*Italic text on page 5.*
**Bold text on page 5.**
`Inline code on page 5.`

### Lists
*   Unordered List Item Alpha (Page 5)
*   Unordered List Item Beta (Page 5)

1.  Ordered List Item I (Page 5)
2.  Ordered List Item II (Page 5)

### Blockquotes
> This is a blockquote for Page 5.

### Code Blocks
```python
# Python code block on Page 5
def greet_page_5():
  print(f"Hello from Page 5!")
```

## Raw HTML Passthrough Test (Page 5)
<div style="border: 2px solid green; padding: 10px; margin-top: 5px;">
  <p style="color: darkgreen; font-weight: bold;">Raw HTML section for Page 5.</p>
  <button onclick="alert('HTML Button on Page 5 clicked!')">Click (Page 5)</button>
</div>

## Link Checker Tests (Page 5)

### Valid Internal Links (to other new advanced test pages)
*   [Link to Adv Test Page 1](adv_test_page_1.html.md.erb)
*   [Link to Adv Test Page 2](adv_test_page_2.html.md.erb)
*   [Link to Adv Test Page 3](adv_test_page_3.html.md.erb)
*   [Link to Adv Test Page 4](adv_test_page_4.html.md.erb)
*   [Link to Adv Test Page 6](adv_test_page_6.html.md.erb)
*   [Link to Adv Test Page 7](adv_test_page_7.html.md.erb)

### Valid Internal Links (to existing pages)
*   [Link to Main Index](index.html.md.erb)
*   [Link to Legacy TDT Docs Index](legacy-tdt-documentation/index.html.md.erb)

### Valid External Links (Page 5)
*   [Valid External Link A - Page 5](https://www.python.org/)
*   [Valid External Link B - Page 5](https://www.ruby-lang.org/en/)

### Intentionally Broken Links (Page 5)
*   [Broken Internal Link Test (Page 5)](broken_internal_retest_page_5.html)
*   [Broken External Link Test (Page 5)](http://this.is.a.retest.broken.link.page.5.example.com)

### Links with Specific HTTP Status Codes (accepted by lychee config: 403, 429) - Page 5
*   [Potential Status Code Wikipedia (Page 5)](https://en.wikipedia.org/wiki/NonExistent_WikiPage_Test5)
*   [Potential Status Code GitHub Raw (Page 5)](https://raw.githubusercontent.com/user/project/main/non_existent_raw_file_5.md)

### Additional External Links (StackOverflow/Wikipedia) - Page 5

*   [Valid Stack Overflow Question (Page 5)](https://stackoverflow.com/questions/4114095/how-do-i-revert-a-git-repository-to-a-previous-commit)
*   [Valid Wikipedia Page (Page 5)](https://en.wikipedia.org/wiki/Application_programming_interface)
*   [Broken Stack Overflow Link (Page 5)](https://stackoverflow.com/questions/00000005/this-will-not-exist-test5)
*   [Specific/Test Wikipedia Link (Page 5)](https://en.wikipedia.org/wiki/Wikipedia:Verifiability)

<p>End of Advanced Workflow Test Page 5.</p>
