---
title: Advanced Workflow Test Page 1
---

# Advanced Workflow Test Page 1

This is advanced test page 1, part of a set of 7 designed for comprehensive workflow testing on branch 'feature/advanced-crosslink-tests'.

## ERB Processing Test
<p>Page 1 - Current Time (ERB): <%= Time.now.strftime('%Y-%m-%d %H:%M:%S %Z') %></p>
<p>ERB Dynamic String (Page 1): <%= "Dynamic content for page 1." %></p>

## Markdown Rendering Tests (Page 1)

### Text Formatting
*Italic text on page 1.*
**Bold text on page 1.**
`Inline code on page 1.`

### Lists
*   Unordered List Item Alpha (Page 1)
*   Unordered List Item Beta (Page 1)

1.  Ordered List Item I (Page 1)
2.  Ordered List Item II (Page 1)

### Blockquotes
> This is a blockquote for Page 1.

### Code Blocks
```python
# Python code block on Page 1
def greet_page_1():
  print(f"Hello from Page 1!")
```

## Raw HTML Passthrough Test (Page 1)
<div style="border: 2px solid green; padding: 10px; margin-top: 5px;">
  <p style="color: darkgreen; font-weight: bold;">Raw HTML section for Page 1.</p>
  <button onclick="alert('HTML Button on Page 1 clicked!')">Click (Page 1)</button>
</div>

## Link Checker Tests (Page 1)

### Valid Internal Links (to other new advanced test pages)
*   [Link to Adv Test Page 2](adv_test_page_2.html.md.erb)
*   [Link to Adv Test Page 3](adv_test_page_3.html.md.erb)
*   [Link to Adv Test Page 4](adv_test_page_4.html.md.erb)
*   [Link to Adv Test Page 5](adv_test_page_5.html.md.erb)
*   [Link to Adv Test Page 6](adv_test_page_6.html.md.erb)
*   [Link to Adv Test Page 7](adv_test_page_7.html.md.erb)

### Valid Internal Links (to existing pages)
*   [Link to Main Index](index.html.md.erb)
*   [Link to Legacy TDT Docs Index](legacy-tdt-documentation/index.html.md.erb)

### Valid External Links (Page 1)
*   [Valid External Link A - Page 1](https://www.eff.org/)
*   [Valid External Link B - Page 1](https://www.fsf.org/)

### Intentionally Broken Links (Page 1)
*   [Broken Internal Link Test (Page 1)](broken_internal_retest_page_1.html)
*   [Broken External Link Test (Page 1)](http://this.is.a.retest.broken.link.page.1.example.com)

### Links with Specific HTTP Status Codes (accepted by lychee config: 403, 429) - Page 1
*   [Potential Status Code Wikipedia (Page 1)](https://en.wikipedia.org/wiki/NonExistent_WikiPage_Test1)
*   [Potential Status Code GitHub Raw (Page 1)](https://raw.githubusercontent.com/user/project/main/non_existent_raw_file_1.md)

### Additional External Links (StackOverflow/Wikipedia) - Page 1

*   [Valid Stack Overflow Question (Page 1)](https://stackoverflow.com/questions/11227809/why-is-processing-a-sorted-array-faster-than-processing-an-unsorted-array)
*   [Valid Wikipedia Page (Page 1)](https://en.wikipedia.org/wiki/Continuous_integration)
*   [Broken Stack Overflow Link (Page 1)](https://stackoverflow.com/questions/00000001/this-will-not-exist-test1)
*   [Specific/Test Wikipedia Link (Page 1)](https://en.wikipedia.org/wiki/Special:Random)
*   [SO: NestedAggregationDescriptor (Page 1)](https://stackoverflow.com/questions/79628630/nestedaggregationdescriptor-in-elastic-8-not-working)
*   [SO: Expo Record Audio/Video (Page 1)](https://stackoverflow.com/questions/79628624/can-i-record-system-audio-and-video-simunteniosly-using-expo-react-native)
*   [SO: Phone USB Ethernet Hub (Page 1)](https://stackoverflow.com/questions/79628617/how-to-connect-phone-to-two-usb-to-ethernet-adapters-using-usb-hub-and-ethernet)

<p>End of Advanced Workflow Test Page 1.</p>
