---
title: Advanced Workflow Test Page 6
---

# Advanced Workflow Test Page 6

This is advanced test page 6, part of a set of 7 designed for comprehensive workflow testing on branch 'feature/advanced-crosslink-tests'.

## ERB Processing Test
<p>Page 6 - Current Time (ERB): <%= Time.now.strftime('%Y-%m-%d %H:%M:%S %Z') %></p>
<p>ERB Dynamic String (Page 6): <%= "Dynamic content for page 6." %></p>

## Markdown Rendering Tests (Page 6)

### Text Formatting
*Italic text on page 6.*
**Bold text on page 6.**
`Inline code on page 6.`

### Lists
*   Unordered List Item Alpha (Page 6)
*   Unordered List Item Beta (Page 6)

1.  Ordered List Item I (Page 6)
2.  Ordered List Item II (Page 6)

### Blockquotes
> This is a blockquote for Page 6.

### Code Blocks
```python
# Python code block on Page 6
def greet_page_6():
  print(f"Hello from Page 6!")
```

## Raw HTML Passthrough Test (Page 6)
<div style="border: 2px solid blue; padding: 10px; margin-top: 5px;">
  <p style="color: darkblue; font-weight: bold;">Raw HTML section for Page 6.</p>
  <button onclick="alert('HTML Button on Page 6 clicked!')">Click (Page 6)</button>
</div>

## Link Checker Tests (Page 6)

### Valid Internal Links (to other new advanced test pages)
*   [Link to Adv Test Page 1](adv_test_page_1.html.md.erb)
*   [Link to Adv Test Page 2](adv_test_page_2.html.md.erb)
*   [Link to Adv Test Page 3](adv_test_page_3.html.md.erb)
*   [Link to Adv Test Page 4](adv_test_page_4.html.md.erb)
*   [Link to Adv Test Page 5](adv_test_page_5.html.md.erb)
*   [Link to Adv Test Page 7](adv_test_page_7.html.md.erb)

### Valid Internal Links (to existing pages)
*   [Link to Main Index](index.html.md.erb)
*   [Link to Legacy TDT Docs Index](legacy-tdt-documentation/index.html.md.erb)

### Valid External Links (Page 6)
*   [Valid External Link A - Page 6](https://git-scm.com/)
*   [Valid External Link B - Page 6](https://www.mercurial-scm.org/)

### Intentionally Broken Links (Page 6)
*   [Broken Internal Link Test (Page 6)](broken_internal_retest_page_6.html)
*   [Broken External Link Test (Page 6)](http://this.is.a.retest.broken.link.page.6.example.com)

### Links with Specific HTTP Status Codes (accepted by lychee config: 403, 429) - Page 6
*   [Potential Status Code Wikipedia (Page 6)](https://en.wikipedia.org/wiki/NonExistent_WikiPage_Test6)
*   [Potential Status Code GitHub Raw (Page 6)](https://raw.githubusercontent.com/user/project/main/non_existent_raw_file_6.md)

### Additional External Links (StackOverflow/Wikipedia) - Page 6

*   [Valid Stack Overflow Question (Page 6)](https://stackoverflow.com/questions/5767325/how-can-i-remove-a-specific-item-from-an-array-in-javascript)
*   [Valid Wikipedia Page (Page 6)](https://en.wikipedia.org/wiki/Markdown)
*   [Broken Stack Overflow Link (Page 6)](https://stackoverflow.com/questions/00000006/this-will-not-exist-test6)
*   [Specific/Test Wikipedia Link (Page 6)](https://en.wikipedia.org/wiki/Help:Table)
*   [SO: NestedAggregationDescriptor (Page 6)](https://stackoverflow.com/questions/79628630/nestedaggregationdescriptor-in-elastic-8-not-working)
*   [SO: Expo Record Audio/Video (Page 6)](https://stackoverflow.com/questions/79628624/can-i-record-system-audio-and-video-simunteniosly-using-expo-react-native)
*   [SO: Phone USB Ethernet Hub (Page 6)](https://stackoverflow.com/questions/79628617/how-to-connect-phone-to-two-usb-to-ethernet-adapters-using-usb-hub-and-ethernet)

<p>End of Advanced Workflow Test Page 6.</p>
